In [23]:
import pandas as pd
df = pd.read_csv('./content/try2.csv')

In [24]:
df

,Unnamed: 0,datetime,open,high,low,close,volume,signals,trade_type,ema_20,ema_40
0,0,2019-09-08 16:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0,hold,10000.000000,10000.000000
1,1,2019-09-08 18:00:00,10344.77,10357.53,10337.43,10340.12,471.659,1,long,10032.392381,10016.591220
2,2,2019-09-08 20:00:00,10340.12,10391.90,10324.77,10391.90,1273.030,0,hold,10066.631202,10034.898965
3,3,2019-09-08 22:00:00,10392.59,10412.65,10366.57,10391.63,1351.600,0,hold,10097.583468,10052.300479
4,4,2019-09-09 00:00:00,10391.63,10391.63,10391.63,10391.63,0.000,0,hold,10125.587900,10068.853138
...,...,...,...,...,...,...,...,...,...,...,...
18900,18900,2023-12-31 16:00:00,42489.60,42741.60,42465.40,42651.90,12901.812,0,hold,42413.469732,42471.316176
18901,18901,2023-12-31 18:00:00,42651.90,42766.70,42570.10,42659.90,8594.272,0,hold,42436.939281,42480.515387
18902,18902,2023-12-31 20:00:00,42659.90,42724.50,42543.30,42558.90,8524.946,0,hold,42448.554588,42484.339027
18903,18903,2023-12-31 22:00:00,42559.00,42629.50,42083.10,42314.00,23628.811,0,hold,42435.739865,42476.029806
18904,18904,2024-01-01 00:00:00,42314.00,42832.00,42289.60,42647.90,17502.888,0,hold,42455.945592,42484.413718

In [25]:

# Load your OHLCV data into a pandas DataFrame (ensure it's a DataFrame with the required columns: open, high, low, close, volume)
# For this example, assuming you already have the data loaded into a variable called 'df'
# Example: df = pd.read_csv('btc_ohlcv_data.csv')

# Calculate SMAs
df['sma_4'] = df['close'].rolling(window=4).mean()
df['sma_16'] = df['close'].rolling(window=16).mean()
df['sma_32'] = df['close'].rolling(window=32).mean()
df['sma_200'] = df['close'].rolling(window=200).mean()

# Calculate the average volume of the last 40 candles
df['vol_avg_40'] = df['volume'].rolling(window=40).mean()

# Condition: Volume exceeds 2.5 times the average volume of the last 40 candles
df['volume_condition'] = df['volume'] > (2.5 * df['vol_avg_40'])

# Generate signals based on SMA conditions
def generate_signals(df):
    signals = []
    trade_type = []
    
    for i in range(1, len(df)):
        if df['sma_4'][i] > df['sma_16'][i] and df['sma_16'][i] > df['sma_32'][i] and df['sma_32'][i] > df['sma_200'][i] and df['volume_condition'][i]:
            # Long signal
            signals.append(1) 
            trade_type.append('long')
        elif df['sma_4'][i] < df['sma_16'][i] and df['sma_16'][i] < df['sma_32'][i] and df['sma_32'][i] < df['sma_200'][i] and df['volume_condition'][i]:
            # Short signal
            signals.append(-1) 
            trade_type.append('short')
        elif df['sma_4'][i] < df['sma_16'][i] and df['sma_16'][i] > df['sma_32'][i] and df['sma_32'][i] > df['sma_200'][i]:
            # Close Long Trade
            signals.append(-1)
            trade_type.append('close')
        elif df['sma_4'][i] > df['sma_16'][i] and df['sma_16'][i] < df['sma_32'][i] and df['sma_32'][i] < df['sma_200'][i]:
            # Close Short Trade
            signals.append(1)
            trade_type.append('close')
        else:
            # No action
            signals.append(0)
            trade_type.append('hold')
    
    # Add NaN for the first row where there is no previous data
    signals.insert(0, 0)
    trade_type.insert(0, 'hold')
    
    return signals, trade_type

# Generate signals and trade type
df['signals'], df['trade_type'] = generate_signals(df)

# Output the result
print(df[['datetime', 'close', 'sma_4', 'sma_16', 'sma_32', 'sma_200', 'volume', 'vol_avg_40', 'signals', 'trade_type']])

                  datetime     close       sma_4       sma_16        sma_32  \
0      2019-09-08 16:00:00  10000.00         NaN          NaN           NaN
1      2019-09-08 18:00:00  10340.12         NaN          NaN           NaN
2      2019-09-08 20:00:00  10391.90         NaN          NaN           NaN
3      2019-09-08 22:00:00  10391.63  10280.9125          NaN           NaN
4      2019-09-09 00:00:00  10391.63  10378.8200          NaN           NaN
...                    ...       ...         ...          ...           ...
18900  2023-12-31 16:00:00  42651.90  42549.5750  42377.73125  42335.709375
18901  2023-12-31 18:00:00  42659.90  42574.1000  42423.12500  42333.265625
18902  2023-12-31 20:00:00  42558.90  42590.0750  42453.80000  42328.090625
18903  2023-12-31 22:00:00  42314.00  42546.1750  42447.78125  42328.075000
18904  2024-01-01 00:00:00  42647.90  42545.1750  42455.65000  42326.353125

          sma_200     volume    vol_avg_40  signals trade_type
0             NaN      0.002           NaN        0       hold
1             NaN    471.659           NaN        0       hold
2             NaN   1273.030           NaN        0       hold
3             NaN   1351.600           NaN        0       hold
4             NaN      0.000           NaN        0       hold
...           ...        ...           ...      ...        ...
18900  42831.1745  12901.812  20209.139875        0       hold
18901  42830.4065   8594.272  20163.861275        0       hold
18902  42830.1525   8524.946  19588.510525        0       hold
18903  42828.0985  23628.811  19108.099800        0       hold
18904  42827.0390  17502.888  18917.644425        0       hold

[18905 rows x 10 columns]

In [30]:
df.to_csv ('try3.csv', index=False)